/* section header */

header{
    background-color: #F1F3FF;
    width: 100%;
    height: 500px;
}

header .padding-nav{
    padding-top: 1.5rem;
    background-color: #F1F3FF;
}

header nav .logo{
    height: 34px;
    width: 100px;
    left: 136px;
    background-color: #0D28A6;
}

header .navbar-nav .nav-item:not(:last-child) .nav-link{
    margin-right: 32px;
    color: black;
}

header .navbar-nav .nav-item:last-child .nav-link{
    color: white;
    height: 36px;
    width: 81px;
    border-radius: 2px;
    padding: 8px 12px;
    background: #5CB85F;
    font-weight: 700;
}

header .navbar-nav .nav-item .nav-link{
    color: black; 
    font-family: Helvetica;
}

header .hero{
    margin-top: 37px;
}

header .hero h2{
    font-weight: 700;
    font-family: Helvetica;
}

header .hero p{
    width: 75%;
    margin-top: 16px;
    font-weight: 300;
}

header .hero .btn-hero{
    padding: 8px 12px;
    background-color: #5CB85F;
    border: none;
    font-size: 14px;
    font-family: Helvetica;
}

header .img-hero{
    height: 407px;
    width: 704px;
}

/* section our service */

.ourservice{
    margin-top: 104px;
    background-color: white;
}

.ourservice .img-service{
    width: 459px;
    height: 428px;
    margin-right: 100px;
}

.ourservice h2{
    font-weight: 700;
    font-family: Helvetica;
}

.ourservice p{
    margin-top: 24px;
    font-weight: 300;
    margin-bottom: 18px;
}

.ourservice .list-group-item{
    border: none;
    font-size: 14px;
}

.ourservice .point-logo{
    width: 24px;
    height: 24px;
    margin-right: 16px;
}

.ourservice a{
    font-family: Helvetica;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
}

/* section why us */

.whyus .desc-whyus h2{
    margin-top: 100px;
    font-weight: 700;
    font-size: 24px;
    font-family: Helvetica;
}

.whyus .desc-whyus p{
    margin-top: 16px;
    font-weight: 300;
    font-size: 14px;
    font-family: Helvetica;
}

.whyus .card-whyus{
    margin-top: 40px;
}

.whyus .card{
    height: 196px;
    width: 268px;
    border-radius: 8px;
    padding: 24px;
}

.whyus .card .card-body .card-title{
    margin-top: 16px;
    font-family: Helvetica;
    font-weight: 700;
    font-size: 16px;
}

.whyus .card .card-body .card-text{
    margin-top: 16px;
    font-family: Helvetica;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
}

/* section testimonial */

.testimonial h2{
    text-align: center;
    font-family: Helvetica;
    font-weight: 700;
    font-size: 24px;
    margin-top: 124px;
}

.testimonial > p{
    text-align: center;
    font-family: Helvetica;
    font-weight: 300;
    font-size: 14px;
    margin-top: 16px;
}

.testimony .swiper-slide{
    width: 619px !important;
    height: 270px;
    border-radius: 8px;
    background-color: #F1F3FF;
}

.testimony .img-testimony{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 0 46px;
}

.testimony .text-testiminy{
    width: 95%;
    margin-top: 8px;
}
/* section pesan */

.pesan{
    width: 1168px;
    height: 326px;
    background: #0D28A6;
    border-radius: 13px;
}

.pesan h2{
    padding-top: 64px;
    font-family: Helvetica;
    font-weight: 700;
    font-size: 36px;
    line-height: 150%;
    color: #FFFFFF;
}

.pesan p{
    margin-top: 16px;
    margin-bottom: 0px;
    font-family: Helvetica;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
}

.pesan .btn-pesan{
    justify-content: center;
    padding: 8px 12px;
    background-color: #5CB85F;
    border: none;
    font-size: 14px;
    font-family: Helvetica;
    color: #FFFFFF;
    margin: 52px 514px 64px 514px;
}
/* section faq */

.faq{
    margin-top: 100px;
}

.faq .summary-faq h2{
    font-family: Helvetica;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    margin-right: 132px;
}

.faq .summary-faq p{
    font-family: Helvetica;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    margin-right: 132px;
}

.faq .card{
    width: 584px;
    height: 56px;
    border: 1px solid #D4D4D4;
    box-sizing: border-box;
    border-radius: 4px;
}

.whyus .card .card-body .card-text{
    font-family: Helvetica;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
}


/* section footer */

.close{
    margin-top: 150px;
}

footer .profile .list-group-item{
    border: none;
    font-family: Helvetica;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
}

footer .menu .list-group-item{
    border: none;
    font-family: Helvetica;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
}

footer .title-contacts{
    font-family: Helvetica;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
}

footer .contacts .list-group-item{
    border: none;
}

footer .cr a{
    font-family: Helvetica;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
}

footer .cr .logo{
    margin-top: 16px;
    height: 34px;
    width: 100px;
    background-color: #0D28A6;
}