/* section header */

header{
    background-color: #F1F3FF;
    width: 100%;
    height: 500px;
}

header .padding-nav{
    padding-top: 1.5rem;
    background-color: #F1F3FF;
}

header nav .logo{
    height: 34px;
    width: 100px;
    left: 136px;
    background-color: #0D28A6;
}

header .navbar-nav .nav-item:not(:last-child) .nav-link{
    margin-right: 32px;
    color: black;
}

header .navbar-nav .nav-item:last-child .nav-link{
    color: white;
    height: 36px;
    width: 81px;
    border-radius: 2px;
    padding: 8px 12px;
    background: #5CB85F;
    font-weight: 700;
}

header .navbar-nav .nav-item .nav-link{
    color: black; 
    font-family: Helvetica;
}

header .hero{
    margin-top: 37px;
}

header .hero h2{
    font-weight: 700;
    font-family: Helvetica;
}

header .hero p{
    width: 75%;
    margin-top: 16px;
    font-weight: 300;
}

header .hero .btn-hero{
    padding: 8px 12px;
    background-color: #5CB85F;
    border: none;
    font-size: 14px;
    font-family: Helvetica;
}

header .img-hero{
    height: 407px;
    width: 704px;
}

/* section our service */

.ourservice{
    margin-top: 104px;
    background-color: white;
}

.ourservice .img-service{
    width: 459px;
    height: 428px;
    margin-right: 100px;
}

.ourservice h2{
    font-weight: 700;
    font-family: Helvetica;
}

.ourservice p{
    margin-top: 24px;
    font-weight: 300;
    margin-bottom: 18px;
}

.ourservice .list-group-item{
    border: none;
    font-size: 14px;
}

/* section why us */

.whyus .title-whyus{
    margin-top: 100px;
    font-weight: 700;
    font-size: 24px;
    font-family: Helvetica;
}

.whyus .description-whyus{
    margin-top: 16px;
    font-weight: 300;
    font-size: 14px;
    font-family: Helvetica;
}

.whyus .card-whyus{
    margin-top: 40px;
}

.whyus .card{
    height: 196px;
    width: 268px;
    border-radius: 8px;
    padding: 24px;
}

.whyus .card .card-body .card-title{
    margin-top: 16px;
    font-family: Helvetica;
    font-weight: 700;
    font-size: 16px;
}

.whyus .card .card-body .card-text{
    margin-top: 16px;
    font-family: Helvetica;
    font-weight: 300;
    font-size: 14px;
}